<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/icons/font/bootstrap-icons.css" />
    </head>
    <body>
        <%- include('navbar') %>
        <div class="container pb-5">
            <%- include('../shared/flash') %>
