<%- include('../layout/top') %>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Muallif qo'shish</h1>
                    <form action="/authors" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Ism sharifi</label>
                            <input name="name" type="text" class="form-control" id="name" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Qo'shish</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layout/bottom') %>